# +---------------- minute (0 - 59)
# |  +------------- hour (0 - 23)
# |  |  +---------- day of month (1 - 31)
# |  |  |  +------- month (1 - 12)
# |  |  |  |  +---- day of week (0 - 6) (Sunday=0)
# |  |  |  |  |
# *  *  *  *  *  user-name command/to/be/executed

# *  *  * * * root node /jobs/dist/ping/pingLog.js >> /var/log/cron.log 2>&1
30 18 * * * root node /jobs/dist/twitter/postTweet.js >> /var/log/cron.log 2>&1
